/* LAYOUT */
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight:600;
}

.bg-steel {
  background-color: #1C71C3;
}

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #297ed8;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}


.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
/* END OF LAYOUT */

/* HOME PAGE */
.aboutme{
    text-align:center;
    max-width:300%;
    
}
.group_mem{
    margin-top:30%;
    margin-bottom:100px;
    max-width:300px;
    float: left;
    margin-left:50px;
    background-color: #c3c3e5;
}
/* SOURCE: https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_background_hero  */
.hero-image { 
  background-image: url("bubble.gif");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* END OF HOME PAGE */


/* Selection Page */
.head1 {
    margin: auto;
    font-size:40px;
    color:#60d3e0;
    font-weight:bold;
}
.head2 {
    margin: auto;
    font-size:17px;
    margin-left:10px;
    margin-bottom:15px;
}
/* CHAT BUTTON */
.menu-log {
  margin-top:30px;
  margin-bottom:30px;
  background-color: #ADD8E6;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  right: auto;
  float: right;
}
/*  END OF SELECTION PAGE*/

/*Quizzes to Select  */
.type_button {
  border-radius: 12px;
  background-color: #add8b6; /* Lavender background */
  border: 1px solid #add8b6; /* Lavender border */
  color: #000000; /* White text */
  padding: 32px 16px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin-right:20px;
  margin-top: 20px;
}

.type_button-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.type_button-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.type_button-group button:hover {
  background-color: #dd6161;
}
/* END OF QUIZZES TO SELECT */

.quiz_title{
  color: #000000;
    
}

/* quiz page */
.options_button{
  font-weight: 500;
  border-radius: 12px;
  background-color: #adaed8; /* Lavender background */
  border: 1px solid #adaed8; /* Lavender border */
  color: #000000; /* Black text */
  padding: 32px 16px; /* Some padding */
  margin-right:20px;
  margin-top: 20px;
  display: block
}

/*  DROPDOWN MENU*/
/* Dropdown Button */
.dropbtn {
  margin-top:30px;
  margin-bottom:30px;
  background-color: #ADD8E6;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ADD8E6;
  min-width: 160px;
  overflow:hidden;
  overflow-y:scroll;
  max-height: 300px;
/*   max-height: 50px; */
}


/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ADD8E6;}
/* END OF DROPDOWN MENU */

.group_mem{
    float: left;
    margin-left:50px;
    background-color: #c3c3e5;
}

/* .group_mem{
    background-color: #c3c3e5;
} */

.ending{
    margin-top: 100px;
    color:#991010;
}

/* Navigation bar */
.dropbtn-nav {
  margin-top:30px;
  margin-bottom:30px;
/*   background-color: #ADD8E6; */
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown-nav {
  display: none;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-nav {
  display: none;
  position: absolute;
  background-color: #e3f2f7;
  min-width: 160px;
}


/* Links inside the dropdown */
.dropdown-content-nav a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content-nav a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-nav:hover .dropdown-content-nav {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-nav:hover .dropbtn-nav {background-color: #ADD8E6;}

/* END OF DROPDOWN DROPDOWN NAV BAR */