body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #ADD8E6;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* Quizzes Page */
.button-group button {
  border-radius: 18px;
  background-color: #e7deea; /* Lavender background */
  border: 1px solid #e7deea; /* Lavender border */
  color: #000000; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin-right:5px;
}

.button-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.button-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.button-group button:hover {
  background-color: #5896bc;
}

/*2nd quizzes  */
.type_button {
  border-radius: 12px;
  background-color: #add8b6; /* Lavender background */
  border: 1px solid #add8b6; /* Lavender border */
  color: #000000; /* White text */
  padding: 32px 16px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin-right:20px;
  margin-top: 20px;
}

.type_button-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.type_button-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.type_button-group button:hover {
  background-color: #dd6161;
} */