{% extends "layout.html" %}
{% block content %}
    
    <!-- Header Section -->
    <header>
        <h1>Eduquiz</h1>
        <h4>Looking for a fun way to gain some knowledge? You're in the right place!! :)</h4>
        <div class="menu-log">
            <a href="#Chat">Chat</a>
        </div>
    </header>
      
    <!-- Menu Navigation Bar -->
    <div class="dropdown">
        <button class="dropbtn">
            Menu
        </button>
<!--         <a href="#Zodiac">Zodiac</a>
        <a href="#Latest">Latest</a>
        <a href="#Marvel">Marvel</a>
        <a href="#Trivia">Trivia</a>
        <a href="#Geography">Geography</a>
        <a href="#Physics">Physics</a>
        <a href="#Astronomy">Astronomy</a>
        <a href="#Physics">Physics</a>
        <a href="#Anime">Anime</a>
        <a href="#Logo">Logo</a> -->
        <div class="dropdown-content">
            <a href="/funny"> <button>Funny</button> </a>
            <a href="/random"> <button>Random</button> </a>
            <a href="/educational"> <button>Educational</button> </a>
            <a href="/countries"> <button>Countries</button> </a>
            <a href="/languages"> <button>Languages</button> </a>
            <a href="/technology"> <button>Technology</button> </a>
            <a href="/food"> <button>Food</button> </a>
        </div>
        
    </div>
      
    <!-- Body section -->
    <div class = "body_sec">
        <section id="Content">
            <h3>Quizes:</h3>
        </section>
        <!-- prints from altpass list -->
        {% for key,value in altpass.items() %}
            <a class="type_button" href="/general_quiz/{{key,value}}">
                {{key}}
            </a>
        {% endfor %}

<!--         <form action="/general_quiz/" method="post">quiz: <a>Text</a> </form> -->
    </div>
      
    

{% endblock content %}
