{% extends "layout.html" %}
{% block content %}
    <p>{{ subtitle }}</p>
    <h1> Welcome ! </h1>
    <p> Introduction </p>
    <h2> About </h2>
    <div  class="group_mem_background">
        <div class="group_mem"> <h4>Person 1</h4> <p>About ME</p></div>
        <div class="group_mem"> <h4>Person 2</h4><p>About ME</p> </div>
        <div class="group_mem"> <h4>Person 3</h4> <p>About ME</p></div>
    </div>


    <div class="ending">
        <h1> Who Are We? </h1>
        
    </div>
{% endblock content %}